<div style="width:100%;height:100%;">
	<div class="container-fluid">
		<div class="row">
			<div class="leftNav">
				<div>
						<ul class="nav nav-pills nav-stacked">
						
						<li><a href="#/datacenters"><button type="button" class="btn btn-default" style="width:120px">Datacenters  <span class="badge">{{vcCount.cCount}}</span></button></a></li>
						
						<li><a href="#/clusters"><button type="button" class="btn btn-success" style="width:120px">Clusters  <span class="badge">{{vcCount.cCount}}</span></button></a></li>
						
						<li><a href="#/hosts"><button type="button" class="btn btn-default" style="width:120px">Hosts <span class="badge">{{vcCount.hostCount}}</span></button></a></li>
						
						<li><a href="#/datastores"><button type="button" class="btn btn-default" style="width:120px">Datastores  <span class="badge">{{vcCount.dsCount}}</span></button></a></li>
						
						<li><a href="#/virtualmachine"><button type="button" class="btn btn-default" style="width:120px">Vms <span class="badge">{{vcCount.vmCount}}</span></button></a></li>
					</ul>
				</div>
			</div>
			<div class="viewContents">
				<!-- <div class="vmGrid" ng-grid="gridOptions"></div> -->
				<div class="vmGrid" ng-if="gridOptions.data.length>0" id="grid1" ng-grid="gridOptions" class="grid" ng-grid-pagination ui-grid-auto-resize ng-style="getTableStyle()"></div>
			</div>
		</div>
		</ul>
	</div>
</div>
