<div class="container">
	<div class="container-fluid">
		<div class="row">
			<div class="x2">
				<div class="circle">
					<a href="#/datacenters">Datacenter {{vcCount.dcCount}}</a>
				</div>
				<div style="border-right: 1px solid #000; height: 100%"></div>
			</div>

			<div class="x2">
				<div class="circle">
					<a href="#/clusters">Clusters {{vcCount.cCount}}</a>
				</div>
			</div>

			<div class="x2">
				<div class="circle">
					<a href="#/hosts">Hosts {{vcCount.hostCount}}</a>
				</div>
			</div>

			<div class="x2">
				<div class="circle">
					<a href="#/datastores">Datastore {{vcCount.dsCount}}</a>
				</div>
			</div>

			<div class="x2">
				<div class="circle">
					<a href="#/virtualmachine">Virtual Machine {{vcCount.vmCount}}</a>
				</div>
			</div>

		</div>
		<div id="chartContainer" style="width:100%;height:50%"></div>
		<hr>

	</div>
	
</div>