<div>
	<div style="width: 100%; height: 20%;">
		<div class="container-fluid">
			<div class="row">
				<div class="x2">
					<img alt="" src="images/dc.png">
				</div>
			</div>
		</div>
	</div>

	<div style="width: 100%; height: 80%;">
		<div data-hbo-tabs id="tabs">
			<ul>
				<li><a href="#tabs-1">Clusters</a></li>
				<li><a href="#tabs-2">Hosts</a></li>
				<li><a href="#tabs-3">Datastores</a></li>
				<li><a href="#tabs-4">Vms</a></li>
			</ul>
			<div id="tabs-1">
				<div class="vmGrid" ng-grid="clusterOptions"></div>
			</div>
			<div id="tabs-2">
				<div class="vmGrid" ng-grid="hostOptions"></div>
			</div>
			<div id="tabs-3">
				<div class="vmGrid" ng-grid="dsOptions"></div>
			</div>
			<div id="tabs-4">
				<div class="vmGrid" ng-grid="vimOptions"></div>
			</div>
		</div>
	</div>

</div>